body {
  margin: 0;
}
h1 {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  padding: 24px;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  background-color: #222;
}
#app-editor {
  padding: 24px;
}
#buttons {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  padding: 24px;
}
#button-post {
  appearance: none;
  cursor: pointer;
  padding-inline: 24px;
  height: 48px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  background-color: #37f;
}
